<%- include('../partials/header') %>

<h2>Travel Log Entries</h2>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Destination</th>
      <th>Date</th>
      <th>Details</th>
      <th>Delete Log</th>
    </tr>
  </thead>
  <% logs.forEach(function(l) { %>
      <tr>
        <!-- <td><%= l.image %></td> -->
        <td><%= l.title %></td>
        <td><%= l.destination %></td>
        <td><%= l.visitDate %></td>
        <td><a href="/logs/<%= l._id %>">DETAILS</a></td>
        <td>
         <% if (l.postedBy == user._id) { %> 
          <form action="logs/<%=l._id%>?_method=DELETE" class='delete-form' method="POST">
            <button type='submit'>X</button>
          </form>
            <form action="logs/<%=l._id%>?_method=PUT" class='update-form' method="PUT"><button type="submit">Edit</button></form>
            <% } %>  
      </td>
  </tr>
<% }) %> 
</tbody>
</table>

<%- include('../partials/footer') %>