<%- include('../partials/header') %>

<h2>Travel Log Entries</h2>

<!-- <% logs.forEach(log => { %>
    <div class="card" style="width: 18rem;"></div>
    <!-- INSERT CODE FOR IMAGE HERE ONCE THAT CODE HAS BEEN WRITTEN -->
    <div class="card-body">
        <h5 class="card-title"><%= log.title %> </h5>
        <p class="card-text">Destination: <%= log.destination%></p>
        <p class="card-text">Date of Trip: <%= log.visitdate ? log.visitdate : 'N/A' %></p>
        <a href="/logs/<%= log._id %>" class="btn btn-primary">Details</a>
    </div>
  </div>
<% }) %> -->

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Destination</th>
      <th>Date</th>
      <th>Details</th>
      <th>Delete Log</th>
    </tr>
  </thead>
  <% logs.forEach(function(l) { %>
      <tr>
        <!-- <td><%= l.image %></td> -->
        <td><%= l.title %></td>
        <td><%= l.destination %></td>
        <td><%= l.visitDate %></td>
        <td><a href="/logs/<%= l._id %>">DETAILS</a></td>
        <td>
          <form action="logs/<%=l._id%>?_method=DELETE" class='delete-form' method="POST">
              <button type='submit'>X</button>
          </form>
      </td>
  </tr>
<% }) %> 
</tbody>
</table>

<%- include('../partials/footer') %>