<%- include('../partials/header') %>

<h2>Travel Log Entries</h2>

<% logs.forEach(log => { %>
    <div class="card" style="width: 18rem;"></div>
    <!-- INSERT CODE FOR IMAGE HERE ONCE THAT CODE HAS BEEN WRITTEN -->
    <div class="card-body">
        <h5 class="card-title"><%= log.title %> </h5>
        <p class="card-text">Destination: <%= log.destination%></p>
        <p class="card-text">Date of Trip: <%= log.visitdate ? log.visitdate : 'N/A' %></p>
        <a href="/logs/<%= log._id %>" class="btn btn-primary">Details</a>
    </div>
  </div>
<% }) %>

<%- include('../partials/footer') %>