<%- include('../partials/header') %> 

<section id="log-entry-page">
    
    <div>Title: </div>
    <div><%= log.title %></div>
    <div>Destination: </div>
    <div><%= log.destination %></div>
    <div>Reference Date of Trip: </div>
    <div><%= log.visitDate %></div>
    <div>Description </div>
    <div><%= log.description %></div>
    </section>

    <h2>Comments</h2>
    <form id="add-comment-form" method="POST" action="/logs/<%= log._id %>/comments">
      <label>Comments:</label>
      <textarea name="content"></textarea>
      </select>
      <input type="submit" value="Add Comment">
    </form>
    
    <% if (log.comments.length) { %>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>commenterPhoto</th>
            <th>commenter</th>
            <th>content</th>
          </tr>
        </thead>
        <tbody>
          <% let total = 0 %>
          <% log.comments.forEach(function(c) { %>
            <tr>
              <td><%= c.createdAt.toLocaleDateString() %></td>
              <td><%= c.commenterPhoto %></td>
              <td><%= c.commenter %></td>
              <td><%= c.content %></td>
            </tr>
          <% }); %>
          <tr>
            <td colspan="2"></td>
            <td><strong><%= (total / log.comments.length).toFixed(1) %></strong></td>
          </tr>
        </tbody>
      </table>
    <% } %>
            <%- include('../partials/footer') %>

