<%- include('../partials/header') %> 

<section id="log-entry-page">
    
    <div>Title: </div>
    <div><%= log.title %></div>
    <div>Destination: </div>
    <div><%= log.destination %></div>
    <div>Reference Date of Trip: </div>
    <div><%= log.visitDate %></div>
    <div>Description </div>
    <div><%= log.description %></div>
    </section>

  

   <% let total = 0 %>
           <% log.comments.forEach(c => { %>
             <% total+= c.content %>
             <p><%= c.content %> - <img width="20" id="commenterPhoto" src="<%= c.commenterPhoto %>" alt=""> <%= c.commenter %></p>
             <p><%= c.content %></p>
           <% }) %>
           <p>Comments: <%= (total / log.comments.length).toFixed(2) %></p>
           <% if (!log.comments.some(c => {return c.commenter === user.name})) { %>
             <form action="/logs/<%= log._id %>/comments" method="POST">
               <div class="form-group">
                 <textarea class="form-control" name="content" style="width: 18rem;" id="exampleFormControlTextarea1" placeholder="Leave a Comment" rows="3"></textarea>
               </div>
               <% } %>

<%- include('../partials/footer') %> 